<ion-header>
  <ion-toolbar  color="primary"> 
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-card >
    <ion-img src="/assets/download.jpg"></ion-img>     
    <h2>First Name:{{firstname}}</h2>
    <h2>Last Name : {{lastname}}</h2>
    <h2>User Name:{{getusername}}</h2>
    <h2>Mobile Number : {{getmobile}}</h2>
  </ion-card>
  <ion-button color="danger" href="login" style="margin-left: 230px;"><ion-icon name="power-outline"></ion-icon>
    Logout
  </ion-button>
</ion-content>
